h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1{
    text-align: center;
}
h2{
    text-align: center;
}

#Foto{
    text-align: center; 
    top: 20px;
    left: 10px;
    border: 10px solid rgb(218, 26, 154);    
}
#fotoperfil{
    text-align: center;
}


#descricaofoto {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {background-color: yellow;}


.paragrafo1 {
    font-style: oblique;
}

#Hardskills {
    font-size: 25px;
}

.Comunicação{
    font-size: 25px;
}
.TrabalhoemEquipe{
    font-size: 25px;
}
.Proatividade{
    font-size: 25px;
}
.Empatia{
    font-size: 25px;
}
.Organização{
    font-size: 25px;
}
.SensodeUrgencia{
    font-size: 25px;
}
.Liderança{
    font-size: 25px;
}